@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@100;200;400&display=swap');



*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}


@media only screen and (max-width: 575px){
    
    
    #conteudo-banner{
            margin-left: 20px;
            max-width: 100%;
            font-size: 16px;
    }

    .conteudo-principal{
        margin-left: 20px;
        margin-right: 20px;
    }

}


@media only screen and (min-width: 576px){
    #conteudo-banner{
            margin-left: 20px;
            max-width: 100%;
            font-size: 24px;
    }

    .conteudo-principal{
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (min-width: 768px){
    .banner-text p{
        margin-left: 20px;
        max-width: 75%;
    }

    .conteudo-principal{
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (min-width: 992px){

    .banner-text p{
        margin-left: 20px;
        width: 60%;
    }

    .conteudo-principal{
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (min-width: 1200px){
    .banner-text p{
        max-width: 80%;
        margin-left: 20px;
    }

    .conteudo-principal{
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (min-width: 1400px){
    .banner-text p{
        max-width: 80%;
        margin-left: 20px;
    }

    .conteudo-principal{
        margin-left: 20px;
        margin-right: 20px;
    }
}
/* Menu de navegação */

.nav-link:hover{
    color:#31ee50;
}

.dropdown-item:hover{
    color:#31ee50;
}

#home:hover{
    color:#31ee50;
}


/* Fim menu de navegação*/


/*Página index */

.text-decoration{
    text-shadow: 2px 3px black;
    color: #31ee50;
}

/*Fim index */

/* Inicio das paginas*/



.banner-bg-banco{
    background-image: url('/img/background/banco-green.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    
}

.banner-bg-cartao{
    background-image: url('/img/background/cartao-green.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    
}

.banner-bg-economia{
    background-image: url('/img/background/economia-green.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    
}

.banner-bg-indicacoes{
    background-image: url('/img/background/indicacoes-green.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    
}

.banner-bg-investimento{
    background-image: url('/img/background/investimento-green.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    
}

#index-bg{
    background-image: url('/img/background/index.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;


}

.banner-bg-simulador{
    background-image: url('/img/background/simulador.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}



.banner-bg-sobre{
    background-image: url('/img/background/sobre-green.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    
}

#titulo-banner{
    text-shadow: 2px 3px black;
    color: #31ee50;
    margin-left: 20px;
    margin-bottom: 100px;
    padding-top: 100px;
    font-weight: 400;
}

#conteudo-banner{
    text-shadow: 2px 3px black;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin-left: 24px;
    width: 70%;
    min-width: 15%;
}

#conteudo-index{
    text-shadow: 2px 3px black;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin-left: 24px;
    width: 70%;

}


#titulo-secundario{
    text-shadow: 2px 3px #000000;
    color: #31ee50;
    margin-top: 60px;
}

.lead{
    font-size: 24px;
    margin-left: 5%;
    font-weight: bold;
    display: block;
}

.display-2{
    margin-left: 3%;
    font-weight: 400;
}


#subtitulo{
    color: purple;
    font-size: 48px;
    margin-left: 3%;
    margin-right: 10%;
    font-weight: bold;
    width: 80%;
}


.lead-subtitulo{
    font-size: 24px;
    margin-left: 5%;
    font-weight: bold   ;
}




/* Tabelas */

.table-responsive-sm{
    margin-left: 5%;
    font-weight: bold;
    margin-top: 10px;
}

#conteudo-tabela{
    margin-left: 5px;
}

#titulo-tabela{
    color: #31ee50;
    text-shadow: 1px 1px #000000;
    font-size: 28px;
}

#conteudo-tabela{
    font-size: 18px;
}

#tabela{
    margin-left: 3%;
}

/* Simulador */

#section-simulador{
    margin-right: 30%;
    margin-left:  30%;
    width: 45%;
    background-color: #ffffff;
}

#resultado{
    padding-bottom: 5%;
}
#titulo-simulador{
    color: #31ee50;
    padding-bottom: 5%;

}

#calculator {
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #ffffff;
}

#calculator h2 {
    font-size: 45px;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    text-shadow: 2px 3px black;
    color: #31ee50;
    
}

#calculator h2::before{
    position: absolute;
    content: '';
    height: 3px;
    width: 150px;
    background: var(--linear-gradient);
    bottom: 5px;
    background-color: #ffffff;
    color: #31ee50;
}

#input_box {
    display: flex;
    flex-direction: column;
    gap: 0px;
    text-shadow: 1px 1px black;
    color: #31ee50;
    
}

.input-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
    color: #31ee50;
}

.input-field label {
    font-size: 35px;
    color: #c8ced6;
    font-weight: 500;
    background-color: #ffffff;
    color: #31ee50;
}

.input-field input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #6600ff;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    background-color: #ffffff;
    color: #000000;
}

.input-field input:focus {
    outline: none;
    background-color: #ffffff;
    color: #31ee50;
}


#calculate {
    background: var(--linear-gradient);
    border: none;
    padding: 10px;
    color: #6600ff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

#p-lucrop, #p-lucrotd, #p-lucrocdi, #p-lucrolca{
    color: #31ee50;

}

#titulo-secundario-simulador{
    text-shadow: 2px 3px #000000;
    color: #31ee50;
    margin-top: 60px;
    font-size: 45px;
}

/*Decorações Gerais*/

.content-decoration{
    color: purple;
    font-weight: bold;
    margin-left: 5%;
    font-size: 24px;
    
}

.img-pessoas{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    justify-content: center;
    display: flex;
}

.img-fluid {
    border-radius: 50%;
    width: 30%;
    margin-left: 5%;
}
#section-pessoas .display-2, p .lead-pessoas, img{
    display: flex;
    justify-content: center;
    margin-right: 5%;
    margin-left: 5%;
}

section{
    padding-bottom: 5%;
}
